In [2]:
import glob
import pandas as pd
import numpy as np

In [4]:
l = [pd.read_csv(filename) for filename in glob.glob("C:/Users/aksha/Desktop/New folder/*.csv")]
df = pd.concat(l, axis=0)

C:\Users\aksha\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [15]:
df1 = df.sort_values(by=['YEAR'])

In [20]:
df14= df[df['YEAR']==2014]

In [22]:
df15= df[df['YEAR']==2015]

In [23]:
df16= df[df['YEAR']==2016]

In [24]:
df17= df[df['YEAR']==2017]

In [25]:
df18= df[df['YEAR']==2018]

In [29]:
df14=df14.drop_duplicates()

In [31]:
df15=df15.drop_duplicates()

In [32]:
df16=df16.drop_duplicates()

In [33]:
df17=df17.drop_duplicates()

In [34]:
df18=df18.drop_duplicates()

In [90]:
df14

,ARR_DEL15,ARR_DELAY_NEW,ARR_TIME,CRS_ARR_TIME,CRS_DEP_TIME,DAY_OF_MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_DELAY_NEW,DEP_TIME,...,DEST_STATE_ABR,FL_DATE,MONTH,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,Unnamed: 21,Unnamed: 23,YEAR
0,0.0,0.0,1203.0,1230,900,1,1,0.0,0.0,852.0,...,CA,2014-12-01,12,JFK,12478,"New York, NY",NY,NaN,NaN,2014
1,0.0,10.0,1240.0,1230,900,2,2,0.0,0.0,858.0,...,CA,2014-12-02,12,JFK,12478,"New York, NY",NY,NaN,NaN,2014
2,0.0,0.0,1224.0,1230,900,3,3,0.0,0.0,900.0,...,CA,2014-12-03,12,JFK,12478,"New York, NY",NY,NaN,NaN,2014
3,0.0,0.0,1211.0,1230,900,4,4,0.0,0.0,858.0,...,CA,2014-12-04,12,JFK,12478,"New York, NY",NY,NaN,NaN,2014
4,0.0,0.0,1216.0,1230,900,5,5,0.0,0.0,852.0,...,CA,2014-12-05,12,JFK,12478,"New York, NY",NY,NaN,NaN,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471944,0.0,0.0,1005.0,1015,940,31,5,0.0,0.0,938.0,...,CA,2014-01-31,1,TUS,15376,"Tucson, AZ",AZ,NaN,NaN,2014
471945,NaN,NaN,NaN,1950,1530,31,5,NaN,NaN,NaN,...,IL,2014-01-31,1,TUS,15376,"Tucson, AZ",AZ,NaN,NaN,2014
471946,1.0,43.0,2018.0,1935,1925,31,5,1.0,28.0,1953.0,...,CA,2014-01-31,1,TUS,15376,"Tucson, AZ",AZ,NaN,NaN,2014
471947,0.0,0.0,745.0,745,730,31,5,0.0,0.0,728.0,...,CA,2014-01-31,1,TUS,15376,"Tucson, AZ",AZ,NaN,NaN,2014
471948,0.0,0.0,1117.0,1125,1110,31,5,0.0,0.0,1103.0,...,CA,2014-01-31,1,TUS,15376,"Tucson, AZ",AZ,NaN,NaN,2014

In [91]:
df14.dtypes

ARR_DEL15                     float64
ARR_DELAY_NEW                 float64
ARR_TIME                      float64
CRS_ARR_TIME                    int64
CRS_DEP_TIME                    int64
DAY_OF_MONTH                    int64
DAY_OF_WEEK                     int64
DEP_DEL15                     float64
DEP_DELAY_NEW                 float64
DEP_TIME                      float64
DEST                           object
DEST_AIRPORT_ID                 int64
DEST_AIRPORT_SEQ_ID           float64
DEST_CITY_MARKET_ID           float64
DEST_CITY_NAME                 object
DEST_STATE_ABR                 object
FL_DATE                datetime64[ns]
MONTH                           int64
ORIGIN                         object
ORIGIN_AIRPORT_ID               int64
ORIGIN_CITY_NAME               object
ORIGIN_STATE_ABR               object
Unnamed: 21                   float64
Unnamed: 23                   float64
YEAR                            int64
dtype: object

In [11]:
data14 = pd.DataFrame(df14,columns=['ARR_TIME','CRS_ARR_TIME','DEP_TIME','CRS_DEP_TIME'])
data14 = pd.to_numeric(data14.stack(), errors='coerce').fillna(0)
df2= (pd.to_timedelta(data14 // 100, unit='hours') + pd.to_timedelta(data14 % 100, unit='T')).unstack()
ddf = df14.dropna(axis=0, subset=['ARR_TIME','CRS_ARR_TIME','DEP_TIME','CRS_DEP_TIME'])
df_merged14 = ddf.merge(df2, how='outer', left_index=True, right_index=True)

In [12]:
l2=['ATL','DEN','CLT','DFW','EWR']
df144=df_merged14[df_merged14['ORIGIN'].isin(l2)]

df144=df144[df144['DEST'].isin(l2)]

In [13]:
df144.drop(labels=['Unnamed: 0','Unnamed: 21','Unnamed: 23','ARR_TIME_x','CRS_ARR_TIME_x','DEP_TIME_x','CRS_DEP_TIME_x'],inplace=True,axis=1)

In [14]:
df144

,ARR_DEL15,ARR_DELAY_NEW,DAY_OF_MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_DELAY_NEW,DEST,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,...,MONTH,ORIGIN,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,YEAR,ARR_TIME_y,CRS_ARR_TIME_y,DEP_TIME_y,CRS_DEP_TIME_y
716,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,NaN,NaN,...,12.0,DEN,11292.0,"Denver, CO",CO,2014.0,15:11:00,14:55:00,12:28:00,12:00:00
717,1.0,44.0,3.0,3.0,1.0,41.0,DFW,11298.0,NaN,NaN,...,12.0,DEN,11292.0,"Denver, CO",CO,2014.0,15:39:00,14:55:00,12:41:00,12:00:00
718,0.0,0.0,4.0,4.0,0.0,0.0,DFW,11298.0,NaN,NaN,...,12.0,DEN,11292.0,"Denver, CO",CO,2014.0,14:49:00,14:55:00,11:58:00,12:00:00
719,0.0,0.0,5.0,5.0,0.0,0.0,DFW,11298.0,NaN,NaN,...,12.0,DEN,11292.0,"Denver, CO",CO,2014.0,14:45:00,14:55:00,12:00:00,12:00:00
720,0.0,0.0,6.0,6.0,0.0,0.0,DFW,11298.0,NaN,NaN,...,12.0,DEN,11292.0,"Denver, CO",CO,2014.0,14:39:00,14:55:00,11:52:00,12:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5815587,0.0,0.0,15.0,3.0,0.0,0.0,DEN,11292.0,NaN,NaN,...,1.0,ATL,10397.0,"Atlanta, GA",GA,2014.0,07:52:00,08:10:00,06:40:00,06:45:00
5816706,1.0,169.0,16.0,4.0,1.0,164.0,DEN,11292.0,NaN,NaN,...,1.0,ATL,10397.0,"Atlanta, GA",GA,2014.0,16:09:00,13:20:00,14:39:00,11:55:00
5816707,1.0,17.0,16.0,4.0,0.0,0.0,DEN,11292.0,NaN,NaN,...,1.0,ATL,10397.0,"Atlanta, GA",GA,2014.0,08:27:00,08:10:00,06:41:00,06:45:00
5818738,1.0,33.0,31.0,5.0,1.0,30.0,DEN,11292.0,NaN,NaN,...,1.0,ATL,10397.0,"Atlanta, GA",GA,2014.0,13:53:00,13:20:00,12:25:00,11:55:00
5818739,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,NaN,NaN,...,1.0,ATL,10397.0,"Atlanta, GA",GA,2014.0,09:02:00,08:10:00,07:24:00,06:45:00

In [15]:
df144['FL_DATE']=pd.to_datetime(df144['FL_DATE'])

In [16]:
df_merged14=df144[pd.notnull(df144["ARR_TIME_y"])]

In [17]:
df_merged14["ARR_DateTime"] = df_merged14["FL_DATE"] + df_merged14["ARR_TIME_y"].map(pd.Timedelta.to_pytimedelta)

In [18]:
df_merged14["DEP_DateTime"] = df_merged14["FL_DATE"] + df_merged14["DEP_TIME_y"].map(pd.Timedelta.to_pytimedelta)

In [19]:
df_merged14.loc[df_merged14['ARR_TIME_y'] > df_merged14['CRS_ARR_TIME_y'], 'target'] = 1
df_merged14.loc[df_merged14['ARR_TIME_y'] <= df_merged14['CRS_ARR_TIME_y'], 'target'] = 0

In [20]:
df_merged14

,ARR_DEL15,ARR_DELAY_NEW,DAY_OF_MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_DELAY_NEW,DEST,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,...,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,YEAR,ARR_TIME_y,CRS_ARR_TIME_y,DEP_TIME_y,CRS_DEP_TIME_y,ARR_DateTime,DEP_DateTime,target
716,1.0,16.0,2.0,2.0,1.0,28.0,DFW,11298.0,NaN,NaN,...,"Denver, CO",CO,2014.0,15:11:00,14:55:00,12:28:00,12:00:00,2014-12-02 15:11:00,2014-12-02 12:28:00,1.0
717,1.0,44.0,3.0,3.0,1.0,41.0,DFW,11298.0,NaN,NaN,...,"Denver, CO",CO,2014.0,15:39:00,14:55:00,12:41:00,12:00:00,2014-12-03 15:39:00,2014-12-03 12:41:00,1.0
718,0.0,0.0,4.0,4.0,0.0,0.0,DFW,11298.0,NaN,NaN,...,"Denver, CO",CO,2014.0,14:49:00,14:55:00,11:58:00,12:00:00,2014-12-04 14:49:00,2014-12-04 11:58:00,0.0
719,0.0,0.0,5.0,5.0,0.0,0.0,DFW,11298.0,NaN,NaN,...,"Denver, CO",CO,2014.0,14:45:00,14:55:00,12:00:00,12:00:00,2014-12-05 14:45:00,2014-12-05 12:00:00,0.0
720,0.0,0.0,6.0,6.0,0.0,0.0,DFW,11298.0,NaN,NaN,...,"Denver, CO",CO,2014.0,14:39:00,14:55:00,11:52:00,12:00:00,2014-12-06 14:39:00,2014-12-06 11:52:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5815587,0.0,0.0,15.0,3.0,0.0,0.0,DEN,11292.0,NaN,NaN,...,"Atlanta, GA",GA,2014.0,07:52:00,08:10:00,06:40:00,06:45:00,2014-01-15 07:52:00,2014-01-15 06:40:00,0.0
5816706,1.0,169.0,16.0,4.0,1.0,164.0,DEN,11292.0,NaN,NaN,...,"Atlanta, GA",GA,2014.0,16:09:00,13:20:00,14:39:00,11:55:00,2014-01-16 16:09:00,2014-01-16 14:39:00,1.0
5816707,1.0,17.0,16.0,4.0,0.0,0.0,DEN,11292.0,NaN,NaN,...,"Atlanta, GA",GA,2014.0,08:27:00,08:10:00,06:41:00,06:45:00,2014-01-16 08:27:00,2014-01-16 06:41:00,1.0
5818738,1.0,33.0,31.0,5.0,1.0,30.0,DEN,11292.0,NaN,NaN,...,"Atlanta, GA",GA,2014.0,13:53:00,13:20:00,12:25:00,11:55:00,2014-01-31 13:53:00,2014-01-31 12:25:00,1.0
5818739,1.0,52.0,31.0,5.0,1.0,39.0,DEN,11292.0,NaN,NaN,...,"Atlanta, GA",GA,2014.0,09:02:00,08:10:00,07:24:00,06:45:00,2014-01-31 09:02:00,2014-01-31 07:24:00,1.0

In [21]:
df_merged14['target']=df_merged14['target'].astype('int64')

In [22]:
df_merged14.drop(labels=['DEST_AIRPORT_SEQ_ID','DEST_CITY_MARKET_ID'],inplace=True,axis=1)

In [23]:
df_merged14.dtypes

ARR_DEL15                    float64
ARR_DELAY_NEW                float64
DAY_OF_MONTH                 float64
DAY_OF_WEEK                  float64
DEP_DEL15                    float64
DEP_DELAY_NEW                float64
DEST                          object
DEST_AIRPORT_ID              float64
DEST_CITY_NAME                object
DEST_STATE_ABR                object
FL_DATE               datetime64[ns]
MONTH                        float64
ORIGIN                        object
ORIGIN_AIRPORT_ID            float64
ORIGIN_CITY_NAME              object
ORIGIN_STATE_ABR              object
YEAR                         float64
ARR_TIME_y           timedelta64[ns]
CRS_ARR_TIME_y       timedelta64[ns]
DEP_TIME_y           timedelta64[ns]
CRS_DEP_TIME_y       timedelta64[ns]
ARR_DateTime          datetime64[ns]
DEP_DateTime          datetime64[ns]
target                         int64
dtype: object